<div class="fist-ultra-edition-roll">
  <div
    class="pb-2 background-color-black text-align-center color-white roll-header"
  >
    <div class="text-fist-title">Attribute roll</div>
    <div>{{localize attribute_label}}</div>
  </div>
  <div class="flex justify-content-center g-2 mx-2 w-full">
    {{#each this.roll_dice}}
    <div
      class="w-8 h-8 background-color-black lh-8 text-fist-title text-align-center color-white"
    >
      {{this.result}}
    </div>
    {{/each}} {{#if roll_modifier}}
    <div
      class="border-black w-8 h-8 background-color-white lh-8 text-fist-title text-align-center"
    >
      {{signedNumber roll_modifier}}
    </div>
    {{/if}}
  </div>
  <div class="w-full mb-2 text-fist-title text-align-center">
    {{roll_total}}
  </div>
  <div class="w-full">{{{text}}}</div>
</div>
