@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.fist-ultra-edition {
  min-height: 640px;
  min-width: 480px;
}

.fist-ultra-edition,
.fist-ultra-edition-roll {
  $white: #d4d4d4;
  $black: #171717;

  .window-content {
    background: $white;
  }

  /* Colors */

  .color-white {
    color: $white;
  }

  .background-color-black {
    background-color: $black;
  }

  .background-color-white {
    background-color: $white;
  }

  /* Typography */

  .font-family-fist {
    font-family: "Russo One";
  }

  .text-fist-title {
    font-size: 18px;
    font-family: "Russo One";
    text-transform: uppercase;
  }

  .text-fist-hint {
    font-size: 13px;
    font-family: "Russo One";
    text-transform: uppercase;
  }

  /* Layout */

  .layout-grid {
    display: grid;
    grid-template-rows: 124px 1fr;
    grid-template-columns: 172px 1fr;
  }

  .header {
    display: grid;
    grid-template-rows: 44px 44px;
    grid-template-columns: 1fr 124px;
  }

  .header-label {
    height: 18px;
  }

  input.header-input {
    background-color: $white;
    border: none;
    border-radius: 5px;
    color: $black;
    padding-left: 4px;
    padding-right: 4px;
  }

  .attribute-list {
    display: grid;
    row-gap: 8px;
    grid-template-columns: 140px 38px;
  }

  .attribute {
    display: grid;
    grid-template-columns: 1fr 40px;
  }

  input.attribute-input {
    width: 32px;
    height: 32px;
    border: 1px solid $black;
    border-radius: 0;
    line-height: 32px;
    text-align: center;
  }

  /* Tables */

  .table-item-title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    font-family: "Russo One";
    line-height: 30px;
  }

  .table-item-content {
    display: grid;
    grid-template-columns: 1fr min-content;
  }

  /* Inputs */

  input.attribute-input:focus,
  input.header-input:focus {
    box-shadow: inset 0 0 3px red;
  }

  /* Borders */

  .border-black {
    border: 1px solid $black;
  }

  .border-black-b {
    border-bottom: 1px solid $black;
  }

  /* Rolls */

  .roll-header {
    margin: -5px -5px 0px -5px;
  }

  /* Tags */

  .tag {
    font-family: Signika, sans-serif;
    background-color: #bfbfbf;
    padding: 1px 4px;
    border: 1px solid #909090;
    border-radius: 5px;
  }

  /* Display */

  .subheading-typography {
    font-family: "Russo One";
  }
}
