.chat-message {
  background: #d4d4d4;
  border-radius: 0px;

  .message-header {
    background-color: #171717;
    color: #d4d4d4 !important;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  .message-content {
    margin-top: 5px;
  }
}
