.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.span-2-col {
  grid-column: span 2;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.g-2 {
  gap: 8px;
}

.g-3 {
  gap: 12px;
}

.g-4 {
  gap: 16px;
}

.mt-px {
  margin-top: 1px;
}

.mx-2 {
  margin: 8px 0px;
}

.mt-2 {
  margin-top: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.p-3 {
  padding: 12px;
}

.h-4 {
  height: 16px;
}

.h-6 {
  height: 24px;
}

.w-5 {
  width: 20px;
}

.w-8 {
  width: 32px;
}

.w-16 {
  width: 64px;
}

.w-24 {
  width: 96px;
}

.w-24 {
  width: 96px;
}

.w-full {
  width: 100%;
}

.h-6 {
  height: 24px;
}

.h-8 {
  height: 32px;
}

.h-10 {
  height: 40px;
}

.lh-8 {
  line-height: 32px;
}

.lh-6 {
  line-height: 24px;
}

.border-none {
  border: none;
}

.rounded-none {
  border-radius: 0px;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.font-weight-700 {
  font-weight: 700;
}

.overflow-hidden {
  overflow: hidden;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.display-none {
  display: none;
}
