<div class="fist-ultra-edition-roll">
  <div class="subheading-typography">{{ item_name }}</div>
  {{#if item_description}}
  <div>{{ item_description }}</div>
  {{/if}} {{#unless item_description}}
  <i>No description.</i>
  {{/unless}}
</div>
