<form autocomplete="off">
  <h3>Skill</h3>
  <div>
    <div>{{localize "FISTULTRAEDITION.Name"}}</div>
    <input type="text" name="name" value="{{item.name}}" />
  </div>
  <br />
  <div>
    <div>{{localize "FISTULTRAEDITION.Description"}}</div>
    <textarea name="system.description">{{{system.description}}}</textarea>
  </div>
</form>
