<form autocomplete="off">
  <h3>Trait</h3>
  <div class="mb-2" style="color: #b00020">
    The <b>trait</b> item type is outdated, use <b>skill</b> instead.
  </div>
  <div>
    <div>{{localize "FISTULTRAEDITION.Name"}}</div>
    <input type="text" name="name" value="{{item.name}}" />
  </div>
  <br />
  <div>
    <div>{{localize "FISTULTRAEDITION.Description"}}</div>
    <textarea name="system.description">{{{system.description}}}</textarea>
  </div>
</form>
